.quiz-container {


    height:100vh;
    padding:40px 20px;

    margin: 15px 0px;
    max-width: 70vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E6E6E6;
    padding:10px 20px;
    border-radius: 10px;
}

.clock {
    color:#333;
    font-size: 72px;
    background-color: #E6E6E6;
    border-radius: 5px;
    padding: 10px 20px;
}
